<div class="nested-fields well locations">
  <div class="row" style="margin: 0px 0px 15px 0px;">
    <% if !@prev_locations.empty? %>
      <a href="javascript:;" id="collapse_link" style="color: rgba(220,110,50,0.7);" aria-expanded="false" aria-controls="collapseExample">
        Use previous address
      </a>
      <div class="collapse" id="collapse_div">
        <table class="table table-hover vertical-alilgn ">
          <% for location in @prev_locations %>
            <tr>
              <td> 
                <div id="address_line1_suggestion"  style="display: inline">
                  <%= location.address_line1 %>
                </div>
                </font>,
                <div id="address_line2_suggestion" style="display: inline">
                  <%= location.address_line2 %>
                </div>,
                <div id="city_suggestion" style="display: inline">
                  <%= location.city %>
                </div>,
                <div id="state_suggestion" style="display: inline">
                  <%= location.state %>
                </div>
              </td>
              <td >
                <button type="button" class="use_suggestion btn btn-warning btn-xs vert-aligned">
                  use
                </button>
              </td>
            </tr> 
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
  
  <div id="new_location_form">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 form-inputs address_line2_ans">
        <%= f.input :address_line2, label: "Street address"%>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 form-inputs address_line1_ans">
        <%= f.input :address_line1, label: "Floor/Apt (optional)" %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 form-inputs city_ans">
        <%= f.input :city, required: true, label: "Town" %>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 form-inputs state_ans">
        <%= f.input :state, :collection => @states %>
      </div>
      
      <div class="col-xs-6 col-sm-2 col-md-2">
        <%= link_to_remove_association f, class: "btn btn-danger", style: "margin-top: 25px; margin-left: -15px; ", data: {confirm: "This action will delete this location and it's times, are you sure?"} do %>
          <i class="fa fa-times"></i> remove location 
        <%end%>
      </div>
    </div>
  </div>
  <div style="margin: 10px;">
    <hr></hr>
  </div>
  <div class="row">
    <h5 class="text-center" style="color: #555555;"> Times</h5>
    <div id="course_times">
      <%= f.simple_fields_for :course_times do |course_time| %>
        <%= render 'course_time_fields', f: course_time %>
      <% end %>
      <div class="links text-center">
        <%= link_to_add_association f, :course_times, id:"form_drop_down", class:"add_time" do %>
           <i class="fa fa-plus"></i> Time
        <% end %>
      </div>
    </div>
    <div class="has-error text-center">
      <%= f.error :base %>
    </div>
  </div>
</div>

<script>
  function timepick(event) {
     $(event).timepicker({});
   };
</script>
