<% text_credit_needed = @textable_users.count - @total_text_credit  %>
<% email_credit_needed = @emailable_users.count - @total_email_credit  %>

<%= simple_form_for(@announcement) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :subject, label:"Subject (40 char max)", maxlength: "40", required: true -%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :body, required: true, label: "Content", maxlength: "400", as: :wysihtml5-%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :photo, as: :file, hint:'Recommended size: 810px <span style="font-size: .8em;">x</span> 450px'.html_safe %>
        <%= f.hidden_field :sender, value: @course.id %>
        <%= f.hidden_field :sender_type, value: "course" %>
        <%= hidden_field_tag :course, @course.id %>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :action_link, label:"Link", hint:"Leave blank if none."%>
       </div>
    </div>
    <hr></hr>
    <% if current_page?(new_announcement_path) || current_page?(course_manager_path(@organizer,@course)) && @course.favorited_by.emailable.count > 0  %>
      <div class="col-md-12">
        <h4>
          Broadcast <i class="fa fa-question-circle" data-toggle="tooltip" title="Send this Announcement to all users that have shown interest in this course "></i>
          <br><small>Recepients:  <%= number_with_delimiter(@course.favorited_by.emailable.count)%> email |  <%= number_with_delimiter(@textable_users.count)%> text</small>
        </h4>
        <div class="form-inputs">  
          <% if !@course.favorited_by  %>
            Hmmm seems like no one want to recieve emails from this course, maybe you should try promoting it. <br>
            <%= link_to "Promote course", new_organizer_organizer_order_path(@organizer) %>
          <% else  %>
          
            <% if @course.favorited_by.emailable.count == 0 %>
              No users are interested in emails from this course yet. Try promoting or sharing.<br>
            <% elsif @course.favorited_by.emailable.count < @total_email_credit%>
              <%= f.input :email, label: "Send as email [#{ number_with_delimiter(@total_email_credit, :delimiter => ',')}  left]" -%>
            <% else  %>
              You need at least <span style="color: #d75453;"> <%= email_credit_needed %>  </span>email <%= "credit".pluralize(email_credit_needed) %> to send emails.
            <% end  %>
            
             <% if @textable_users.count == 0 %>
              No users are interested in texts from this course yet. Try promoting or sharing. 
            <% elsif  @textable_users.count < @total_text_credit %>
              <%= f.input :text, label: "Send as text [#{number_with_delimiter(@total_text_credit, :delimiter => ',')} left]" -%>
            <% else  %>
              You need at least <span style="color: #d75453;"> <%= text_credit_needed %>  </span>text <%= "credit".pluralize(text_credit_needed) %> to send texts.
            <% end  %>
            
            <% if text_credit_needed > 0 || email_credit_needed > 0 %>
              <%= link_to "Purchase more", new_organizer_organizer_order_path(@organizer), target: '_blank' %>
            <% end %>
            
          <% end %>
        </div>
      </div>
      <div class="col-md-12" style="color: #777;">
        <h5>Broadcast responsibly. No one likes to be spammed.</h5>
      </div>
    <% end %>
  </div>

  <div class="form-actions text-center" style="margin-top: 20px">
    <%= f.button :submit, "Submit", id:"form_submit", data: {confirm: "This action will submit this announcement. Emails and texts cannot be altered once sent. Do you wish to continue?"} %>
		<% unless current_page?(course_manager_path(@organizer,@course)) %>
		  <%= link_to 'Cancel', :back, class:'btn btn-default ', id:"form_cancel" %>
    <% end %>
  </div>
<% end %>



<%= render "helper_code/tooltip_toggle"%>