<%= simple_form_for(@announcement) do |f| %>
  <%= f.error_notification %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :subject, label:"Subject (60 char max)", maxlength: "60", required: true -%>
      </div>
    </div>
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :body, required: true, label: "content (Max 400 char)", maxlength: "400",  :input_html => {:rows => 5, :id => "text"}-%>
	      <h6 class="pull-right" id="count_message"></h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :photo, as: :file, hint:"Recommended size: 810px x 450px" %>
        <%= f.hidden_field :sender, value: @course.id %>
        <%= f.hidden_field :sender_type, value: "course" %>
        <%= hidden_field_tag :course, @course.id %>
      </div>
    </div>
  </div>
  <div class="row" style="margin-bottom: 15px;">
    <div class="col-md-12">
      <div class="form-inputs">
        <%= f.input :action_link, label:"Link (optional)" %>
       </div>
    </div>
    <hr></hr>
    <% if current_page?(new_announcement_path) || current_page?(course_manager_path(@organizer,@course)) && @course.favorited_by.emailable.count > 0  %>
      <div class="col-md-12">
        <h4>
          Broadcast options
          <br><small>Recepients:  <%= number_with_delimiter(@course.favorited_by.emailable.count)%> email |  <%= number_with_delimiter(@course.favorited_by.textable.count)%> Text</small>
        </h4>
        <div class="form-inputs">  
          <% if !@course.favorited_by  %>
            Hmmm seems like no one want to recieve emails from this course, maybe you should try promoting it. <br>
            <%= link_to "Promote course", new_organizer_organizer_order_path(@organizer) %>
          <% else  %>
          
            <% if @course.favorited_by.emailable.count < @total_email_credit %>
              <%= f.input :email, label: "Send as email [#{ number_with_delimiter(@total_email_credit, :delimiter => ',')}  left]" -%>
            <% else  %>
              You need at least <span style="color: #d75453;"> <%= email_credit_needed %>  </span>email <%= "credit".pluralize(email_credit_needed) %> to send emails.
            <% end  %>
            
            <% if  @course.favorited_by.textable.count < @total_text_credit %>
              <%= f.input :text, label: "Send as text [#{number_with_delimiter(@total_text_credit, :delimiter => ',')} left]" -%>
            <% else  %>
              You need at least <span style="color: #d75453;"> <%= text_credit_needed %>  </span>text <%= "credit".pluralize(text_credit_needed) %> to send texts.
            <% end  %>
            
            <% text_credit_needed = @course.favorited_by.textable.count - @total_text_credit  %>
            <% email_credit_needed = @course.favorited_by.emailable.count - @total_email_credit  %>
      
            <% if text_credit_needed > 0 || email_credit_needed > 0 %>
              <%= link_to "Purchase more", new_organizer_organizer_order_path(@organizer), target: '_blank' %>
            <% end %>
            
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="form-actions text-center">
    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <div class="btn-group" role="group">
        <%= f.button :submit, "Submit" %>
      </div>
      <div class="btn-group" role="group">
        <%= link_to 'Back', :back, class:'btn btn-default', style:"color: #d9534f;"  %>
      </div>
    </div>
  </div>
<% end %>



<%= render "helper_code/tooltip_toggle"%>