
<% @offer_course = Course.friendly.find(course_request.sender_trade_courses)%>
<% @ask_course = Course.friendly.find(course_request.course_id)%>
<% @ask_organizer = Organizer.friendly.find( @ask_course.organizer_id )%>
<% @offer_organizer = Organizer.friendly.find( @offer_course.organizer_id )%>

<div class="col-xs-12 col-sm-6 col-md-4 text-center">
  <a href="" data-toggle="modal" data-target="#barter<%= course_request.id%>">
  	<div class="well" style="padding: 0px;">
      <h5>
      	<small><%= @offer_organizer != current_user.organizer ? "#{@offer_course.organizer.name} Requests" : "You Requested" %></small><br>
      		<%= @ask_course.title %>
        <br>
        <small>
        	<span style="color: #777777;"> <%= course_request.created_at.strftime("%b %d, %Y at %I:%M%p") %> </spa>
        </small>
      </h5>
      
      <div style="margin: -4px 0px 6px 0px; font-size: .8em; color: #FFFFFF;">
        <% case  course_request.status %>
        	<% when "new" %>
        		<span style="background-color: #777777; padding: 2px;"> PENDING </span>
        	<% when "accepted"  %>
        		<span style="background-color: #1aa67a; padding: 2px;"> ACCEPTED </span>
        	<% when "declined" %>
        		<span style="background-color: #d9534f; padding: 2px;"> DECLINED </span>
        <% end %>
      </div>
      
  	</div>
  </a>
</div>
 
 <div class="modal fade" id="barter<%= course_request.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
	  	<div class="modal-header text-center" >
	  		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       
       <% if @offer_organizer != current_user.organizer %>
         <small>offered course</small><br>
         	<%= link_to @offer_course, target: "_blank" do%>
						<h5 class="panel-title" id="myModalLabel">
		        	<%= @offer_course.title %>
		        </h5>
	        <%end%>
	       <small>for <%= @ask_course.title %> </small>
	     <% else %>
	     	<small>requested course</small><br>
         	<%= link_to @ask_course, target: "_blank" do%>
						<h5 class="panel-title" id="myModalLabel">
		        	<%= @ask_course.title %>
		        </h5>
	        <%end%>
	       <small>for <%= @offer_course.title %> </small>
	     <% end %>
	     	
	    </div>
	    <div class="panel-body container-fluid text-center" >
	    	<div style="margin: 15px 0px;">
		    	<% if @offer_organizer != current_user.organizer %>
		    		<%= link_to 'view course', @offer_course, target: "_blank", class:"btn btn-warning btn-sm btn-block text-center", style:" margin-bottom: 10px;" %> <hr></hr>
		    	<%else%>
		    		<%= link_to 'view course', @ask_course, target: "_blank", class:"btn btn-warning btn-sm btn-block text-center", style:" margin-bottom: 10px;" %> <hr></hr>
		    	<%end%>
		    	<% if course_request.additional_info.present? %>
			    	<h5 style="margin: 0px; text-align: justify;">
				    	"<%= course_request.additional_info %>"
				    	<small>-
					    	<%= link_to @offer_organizer, target: "_blank"  do %>
					    		<%= @offer_course.organizer.name %>
					    	<% end %> 
				    	</small>
			    	</h5>
			    <% end %>
			   </div>
	  
	    	
	    	<hr> 
	    	
	    	<% case course_request.status %>
	    		<% when "new"%>
	    	    <% if @offer_organizer != current_user.organizer %>
				    	<div style="margin-bottom: 10px;" >
				    			<small style="color: #777777" > your response </small><br>
				    	</div>
				    
				    	<div class="btn-group btn-group-justified" role="group" aria-label="...">
							  <div class="btn-group" role="group">
							    <%= link_to barter_response_path(course_request, type: "accept"), class: "btn btn-success", method: :post, data: {confirm: 'This action will ACCEPT this barter request, do you wish to continue?'} do %>
										<i class="fa fa-thumbs-up"></i>
									<% end -%>
							  </div>
							  <div class="btn-group" role="group" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
							    <button type="button" class="btn btn-warning"><i class="fa fa-comments-o"></i></button>
							  </div>
							  <div class="btn-group" role="group">
							    <%= link_to barter_response_path(course_request, type: "decline"), class: "btn btn-danger", method: :post, data: {confirm: 'This action will Decline this barter request, do you wish to continue?'} do %>
										<i class="fa fa-thumbs-down"></i>
									<% end -%>
							  </div>
							</div>
						<% else %>
							<h4 style="color: #777777">
								Waiting for response
								<br>
			          <small>
			          	<span style="color: #777777;">sent <%= course_request.created_at.strftime("%b %d, %Y at %I:%M%p") %> </spa>
			          </small>
							</h4>
						<% end %>
						
						<div class="collapse" id="collapseExample" style="margin-top: 15px;">
							
						  <div class="well">
						  	<i class="fa fa-envelope-o"></i> <%= course_request.sender_email %> <br>
								<i class="fa fa-phone"></i> <%=number_to_phone(course_request.sender_phone)%>
						  </div>
						</div>

						
					<% when "accepted"%>
						<h4><small><%= @offer_organizer == current_user.organizer ? @ask_course.organizer.name : "You" %></small><br><span style="color: #1aa67a;"> ACCEPTED </span> <hr>
							<small>
				
								<% if @offer_organizer != current_user.organizer %>
									<strong> <%= @offer_organizer.name %></strong> <br>
									<i class="fa fa-envelope-o"></i> <%= @offer_organizer.email %> <br>
									<i class="fa fa-phone"></i> <%= number_to_phone(@offer_organizer.phone)%> <br>
								<% else %>
									<strong> <%= @ask_organizer.name %> </strong><br>
									<i class="fa fa-envelope-o"></i> <%= @ask_organizer.email %> <br>
									<i class="fa fa-phone"></i> <%= number_to_phone(@ask_organizer.phone)%> <br>
								<% end %>
								
							</small>
						</h4>
						
					<% when "declined"%>
					 	<h4><small><%= @offer_organizer == current_user.organizer ? @ask_course.organizer.name : "You" %></small><br><span style="color: #d9534f;"> DECLINED </span> <hr>

				<% end%>
				
		  </div>
	  
		</div>
	</div>
</div>
