  <%= simple_form_for([@organizer, @order]) do |f| %>
    <%= f.error_notification %>
  
    <div class="row">
      <div class="col-md-6">
        <h3 class="mobile_centralize">Purchase email credit</h3>
        <div style="text-align: justify;" >
          Send email email updates directly to your followers. All followers have verified emails
          and have chosen to hear from you. Skillmeng Sends you 50 bonus email credits each month
          but If you need a few more you can top-up here. Emails cost ₦7.50 each
          <br>
          <strong>current bal:</strong> <%= @organizer.organizer_credit_bal.email_bonus %> Bonus | <%= @organizer.organizer_credit_bal.email_regular %> Regular
          <br>
            <% if @last_email_credit_purchase %>
             <strong>last purchase:</strong> <%= @last_email_credit_purchase.email_quantity %> credits on <%= @last_email_credit_purchase.created_at.strftime('%d/%m/%y') %>
            <% end %>
          <br>
        </div>
      </div>
      <div class="col-md-3 text-left" id="order_explaination">
        <%= f.simple_fields_for :organizer_credit_order do |builder| %>
          <div class="form-inputs">
            <div class="row">
              <div class="container-fluid ">
                <%= builder.input :email_quantity, label: false, prompt: "Select Quantity", collection: [0,50,100,500,1000] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-6">
        <h3 class="mobile_centralize">Purchase text credit</h3>
        <div style="text-align: justify;" >
           If you need to let your followers know about any changes, a direct text
           message is the best way to reach them, because everyone gets text messages.
           Skillmeng sends you 10 bonus text credits each month but If you need a few 
           more you can top-up here. Texts cost ₦29.50 each.
          <br>
          <strong>current bal:</strong> <%= @organizer.organizer_credit_bal.text_bonus %> Bonus | <%= @organizer.organizer_credit_bal.text_regular %> Regular
          <br>
            <% if @last_text_credit_purchase%>
             <strong>last purchase:</strong> <%= @last_text_credit_purchase.text_quantity.nil? ? "0" : @last_text_credit_purchase.text_quantity  %> credits on <%= @organizer.credit_orders.last.created_at.strftime('%d/%m/%y') %>
            <% end %>
          <br>
        </div>
      </div>
      <div class="col-md-3 text-left" id="order_explaination">
        <%= f.simple_fields_for :organizer_credit_order do |builder| %>
          <div class="form-inputs">
            <div class="row">
              <div class="container-fluid ">
                <%= builder.input :text_quantity, label: false, prompt: "Select Quantity", collection: [0,50,100,500,1000] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    
    <div class="row"> 
      <div class="col-md-6">
        <h3 class="mobile_centralize">Promote course</h3>
        <div style="text-align: justify;">
           When you promote your course it becomes extremely visible, and will come up 
           first on every list on the site. Promoted courses are also more likely to be 
           featured in the SkillmeNG blog, which will really boost its publicity. Promotion 
           costs ₦7,500/week.
          <br>
        </div>
        <%= f.error :base %>
      </div>
      <div class="col-md-6 text-left" id="order_explaination">
        
        <div id="course_promotions">
          <%= f.simple_fields_for :course_promotions do |course_promotion| %>
            <%= render 'course_promotion_fields', f: course_promotion %>
          <% end %>
        
          <div class="links">
            <%= link_to_add_association f, :course_promotions, class:"add_course_promotion btn btn-default " do %>
               <i class="fa fa-plus"></i> course
            <% end %>
          </div>
        </div>
      </div>
    </div>
    
      <hr style="margin-top: 20px; margin-bottom: 20px; ">
      <div class="form-actions text-left text-center">
        <%= f.button :submit, "Place Order", class:'btn btn-default', id:"form_submit" %>
        <% if current_page?(@user_organizer)  %>
          <a type="button" data-dismiss="modal" class='btn btn-default', id="form_cancel">Close</a>
        <% else %>
          <%= link_to 'Cancel', :back, class:'btn btn-default', id:"form_cancel" %>
        <% end %>
      </div>
    </div>
    
  <% end %>