<% title "User Sign-up" %>
<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading" id="form_header">
          <h4 class="panel-title"> Sign up </h4>
        </div>
        <div class="panel-body new_class">
    
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>
            <div class="row">
              <div class="form-inputs">
                
                <div class="col-sm-6">
              	  <%= f.input :fname, label: "First name", required: true, autofocus: true %>
              	</div>
                <div class="col-sm-6">
                  <%= f.input :lname, label: "Last name",required: true, autofocus: true %>
                </div>
                <div class="col-sm-6">
                  <%= f.input :tel, label: "Phone number", required: true, maxlength: "11", placeholder: "e.g 08145463102", autofocus: true %>
                </div>
                <div class="col-sm-6">
                  <%= f.input :email, required: true, autofocus: true %>
                </div>
                <div class="col-sm-12">
                  <%= f.input :avatar, as: :file, hint: 'Recommended size: 300px <span style="font-size: .8em;">x</span> 300px'.html_safe, label: "Profile Pic" %>
                </div>
                <div class="col-sm-6">
                  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
                </div>
                <div class="col-sm-6">
                  <%= f.input :password_confirmation, label:"Confirm password", required: true %>
                </div>
              </div>
            </div>

            <div class="form-actions text-center">
              <%= link_to 'Back', :back, class:'btn btn-default', id:"form_cancel" %>
              <%= f.button :submit, "Submit", id:"form_submit" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>    
  </div>
</div>
