<% course = Course.find(favorite_course.course_id)%>

<div class="col-xs-12 col-sm-6 col-md-4">
  <div class="panel panel-default panel-class">
    <div class="panel-heading text-center" >
      <h5 style="margin:0 auto;"> 
        <%=link_to course.title.try(:titleize), course %>
      </h5>
    </div>

    <div class="panel-body"  style="font-size: 11px; padding: 0px 10px 0px 10px;">
      
      
      <% on = "fa fa-toggle-on text-success" %>
      <% off = "fa fa-toggle-off text-danger" %>
      
      <div class="row">
        <div class="col-md-12 col-xs-12 col-sm-12">
          <span style="font-size: 1.2em; color: #777; padding-top: 5px;">Allow posts to my:</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
          <font style="color: #777777; padding: 0px;" id="follow_tab_title" >Newsfeed</font>
          <% favorite_course.broadcast ? broadcast_status = on : broadcast_status = off %>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 text-right">
          <%= link_to toggle_broadcast_path(favorite_course), class: "toggle_#{course.id}", remote: true do%>
            <i class="<%= broadcast_status %>" style="font-size: 20px;"></i>
          <%end%>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">
          <font style="color: #777777; padding: 0px;" id="follow_tab_title" >Email</font>
          <% favorite_course.subscribe ? subscription_status = on : subscription_status = off %>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 text-right">
          <%= link_to toggle_subscription_path(favorite_course), class: "toggle_#{course.id}", remote: true do%>
            <i class="<%= subscription_status %>" style="font-size: 20px;"></i>
          <% end %>
        </div>
      </div>
      <div class="row text-center" style="margin-bottom: 10px;">
        <%= link_to favorite_course_path(course), method: :put, data: {confirm: "Do you wish to unfollow #{course.title}?"} do %>
        <span style="color: #d55555; font-size: 1em;" ><strong>unfollow</strong></span>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script>
  $(document).on("click",'.toggle_<%= course.id %>', function(event) { 
    $(this).find('i').toggleClass('fa-toggle-on fa-toggle-off');
    $(this).find('i').toggleClass('text-success text-danger');
  });
</script>

<%= render "helper_code/raty" %>
<%= render "helper_code/tooltip_toggle" %>
<%= render "helper_code/single_page_tabs" %>