<% for conversation in @conversations_trash %>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 my_classes" id="tab_spacing">
			<div class="well well-sm text-center" style="padding : 0px 5px 0px 5px;">
	   		<a href="" data-toggle="modal" data-target="#conversation<%= conversation.id%>">
					<h5 >
						<strong><%= conversation.subject %></strong> <br>
						<small>	
					    Last update: <%= conversation.receipts_for(current_user).last.created_at.to_formatted_s(:long) %>
					    <% if conversation.receipts_for(current_user).last.is_unread? %>
								<strong> | <span style="color: #d9534f">new</span>  </strong>
							<% end -%>
						</small>
          </h5> 
	   		</a>
		  </div>						
		</div>
	</div>	

	<div class="modal fade" id="conversation<%= conversation.id%>" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog modal-md" role="document">
	    <div class="modal-content">
	        <div class="modal-header">
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	          <h4 class="modal-title" id="myModalLabel">
	             <i class="fa fa-envelope"></i> <small><%= conversation.subject %></small>  
	          </h4>
	        </div>
	        <div class="modal-body">
				<div class="panel panel-default">
		        	<div class="panel-body message_modal"> 
			        	<% conversation.receipts_for(current_user).order('created_at ASC').each do |receipt| %>
			        		<% if receipt.message.sender == current_user %>
			        			<% @name_style = "color: #5fb760" %>
			        		<%	else %>
			        			<% @name_style = "color: #777777" %>
			        		<% end -%>
							<strong style="<%= @name_style %>" >
							<%= receipt.message.sender.fname %></strong>: <%= receipt.message.body %><br>
						<% end -%> 
						<span style="color: grey; font-size: 10px;">
							last message sent <%= conversation.receipts_for(current_user).last.created_at.to_formatted_s(:short) %>
						</span>
					</div>
				</div>
				
				<%= form_tag conversation_messages_path(conversation), method: :post do %>
					<%= text_area_tag :body, nil, class: 'form-control message_text_input', :input_html => {:rows => 3} %>
					<%= submit_tag "SEND MESSAGE", class: 'btn  btn-success btn-sm btn-block' %>
				<% end -%>
	        </div>
	        <div class="panel-footer text-center">
	        	<div class="btn-group" role="group" aria-label="...">
	        		<div class="btn-group" role="group">
		        	
          			<%= link_to conversation_delete_from_trash_path(conversation), class:"btn btn-default", type:"button", data: {confirm: "This action will delete this message forever, Are you sure?"} do%>
          				<i class="fa fa-trash" style="color: #d9534f"></i> Destroy
          			<% end -%>
        				<%= link_to conversation_move_to_inbox_path(conversation), class:"btn btn-default", type:"button" do%>
          				Move to inbox
          			<% end -%>
	          	
          		</div>
							<div class="btn-group" role="group">
	          		<button type="button" class="btn btn-default" data-dismiss="modal" style="color: #d9534f;" >Close</button>
	          	</div>
	          </div>
	        </div>
	    </div>
	  </div>
	</div>
	
	<script type='text/javascript'>
		$(function() {
	    $("#conversation<%= conversation.id%>").on("shown.bs.modal", function() {					   
	        $(".message_modal").animate({ scrollTop: $(".message_modal").height() + 150 }, 'slow');
	    });
	});
	</script>
	
<% end %>