
<%= simple_form_for([@organizer]) do |f| %>
  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name, required: true, label:"Name (25 char max)", maxlength: "25", required: true-%>
      </div>
      <div class="col-md-6">
        <%= f.input :phone, required: true -%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :email, required: true -%>
      </div>
      <div class="col-md-6">
        <%= f.input :website-%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= f.input :about, label:"About", maxlength: "300",  :input_html => {:rows => 5, :id => "text"}-%>
        <h6 class="text-right" id="count_message" data-value=300></h6>
      </div>
      <div class="col-md-6">
        <%= f.input :logo, hint:'Recommended size: 300px <span style="font-size: .8em;">x</span> 300px'.html_safe, as: :file -%>
      </div>
    </div>
    <hr>
    
    <%= f.simple_fields_for :location do |location| %>
      <div class="form-inputs">
        <%= location.input :address_line1, label: "Floor/Apt #(optional)"  -%>
        <%= location.input :address_line2, label: "Street address", required: true   -%>
        <%= f.error :base, style:"color: #a74544;" %>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= location.input :city,  label: "Town", placeholder: "Yaba"  -%>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-6">
            <%= location.input :state,  :collection => ['Abia','Abuja (FCT)','Adamawa','Anambra','Akwa Ibom','Bauchi','Bayelsa','Benue','Borno','Cross River','Delta','Ebonyi','Enugu','Edo','Ekiti','Gombe','Imo','Jigawa','Kaduna','Kano','Katsina','Kebbi','Kogi','Kwara','Lagos','Nasarawa','Niger','Ogun','Ondo','Osun','Oyo','Plateau','Rivers','Sokoto','Taraba','Yobe','Zamfara'] -%>
          </div>
        </div>
      </div>
      
    <% end %>
	</div>
	

	<div class="form-actions text-center">
		<%= f.button :submit,"Submit", id:"form_submit" %>
		<%= link_to 'Cancel', :back, class:'btn btn-default', id:"form_cancel" %>
	</div>

<% end -%>




