<% title @organizer.name %>

	<div class="container-fluid">
		<div class="row">
			<div class=" col-sm-10 col-md-8 col-md-offset-2 col-sm-offset-1">
				<div class="profile_body" style="margin-bottom: 20px;">
					<div class="container-fluid title_header text-center" style="padding: 20px 50px 0px 50px;">
			    	<div style=" background-color: #FFF; padding: 7px; margin: 10px; border-radius: 10px; font-size: 2em; font-weight: 500; ">
			    		<%= @organizer.name.try(:titleize) %>
			    	</div> <br>
					</div>
			
					<div class="container-fluid profile_content " style="background-color: #FFFFFF;">
						<div class="row text-center" style="padding-bottom: 30px; font-size: 0.8em;">
					    <h4 class="text-center featured_menu"  >
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#courses" role="tab" data-toggle="tab" id="courses_tabs">
					          <span class="menu-item active" >
					            courses<br>
					          </span>
					        </a>
					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#tutors" role="tab" data-toggle="tab" id="tutors_tabs">
					          <span class="menu-item" >
					            tutors<br>
					          </span>
					        </a>
					      </div>
					      <div class="col-xs-4 col-sm-4 col-md-4">
					        <a href="#info" role="tab" data-toggle="tab" id="info_tabs">
					          <span class="menu-item" >
					            info<br>
					          </span>
					        </a>
					      </div>
					    </h3>
					  </div>
	
					
					<div class="col-xs-12 col-sm-12 col-md-12 ">
						<div class="row" id="org_courses">
				      <div class="tab-content">
				    		<div class="tab-pane fade active in" id="courses">
				    			<% if current_user && current_user.id == @organizer.user_id %>
				    				<div class="col-xs-12 col-sm-6 col-md-4" style="margin-top: 25px;">
				    					<div class="container-fluid">
						    				<div class="row">
													<div class="panel panel-default">
													  <div class="panel-body add_org">
													    <h4 style="text-align: center; margin-bottom: 20px"> Credit Status</h4>
													    	<table class="table">
													    		<!--shorten-->
													    		<%email_bonus = @organizer.organizer_credit_bal.email_bonus %>
													    		<%email_regular = @organizer.organizer_credit_bal.email_regular %>
													    		<%text_bonus = @organizer.organizer_credit_bal.text_bonus %>
													    		<%text_regular = @organizer.organizer_credit_bal.text_regular %>
													    		
													    		<tr>
													    			<td>Email Bonus</td>
													    			<td class="text-right"><%= email_bonus %></td>
													    		</tr>
													    		<tr>
													    			<td>Email Regular</td>
													    			<td class="text-right"><%= email_regular %></td>
													    		</tr>
													    		<tr style="font-weight: 500;" class="active">
													    			<td>Email Total</td>
													    			<td class="text-right"><%= email_bonus + email_regular %></td>
													    		</tr>
													    		<tr>
													    			<td>Text Bonus</td>
													    			<td class="text-right"><%= text_bonus %></td>
													    		</tr>
													    		<tr>
													    			<td>Text Regular</td>
													    			<td class="text-right"><%= text_regular %></td>
													    		</tr>
													    		<tr style="font-weight: 500;" class="active">
													    			<td>Text Total</td>
													    			<td class="text-right"> <%= text_bonus + text_regular %></td>
													    		</tr>
													    	</table>
													    <div class="text-center">
													    	<a href=".modal_addon" class="btn btn-md btn-success" data-toggle="modal" data-target=".modal_addon" style="background-color: #e07940; border: none; width: 150px; margin-bottom: 10px;">
												          Purchase Add-ons
												        </a>
											        </div>
													   
															<% if @organizer.courses.count < 3 %>
																<div class="text-center">
																	<hr>
															    <h4 style="text-align: center;"> <%= @course_slot_left %> Course <%= "Slot".pluralize(@course_slot_left) %> Left</h4>
															    <%= link_to  "Create Course", new_course_path, style:"background-color: #7193bf; border: none; width: 150px;", class: "btn btn-md btn-success" %>
														    </div>
													    <% end %>
													  </div>
													</div>
												</div>
											</div>
										</div>
									<% end %>
									<%= render "courses" %>
								</div>
								
								<div class="tab-pane fade" id="tutors" style="margin-top: 15px;">
				          <div class="container-fluid">
				          	<% if @tutors %>
				          		<%= render @tutors %>
				          		<% if current_user && current_user.id == @organizer.user_id %>
												<div class="col-xs-12 col-sm-3 col-md-3">
													<div class="panel panel-default">
													  <div class="panel-body text-center add_org">
													    <h3 style="display: inline-block;" class="add_org_effect"> add new tutor <br>
													    	<%= link_to   "create", new_organizer_tutor_path(@organizer), style:"background-color: #7193bf; border: none; width: 100px; margin-top: 10px;", class: "btn btn-md btn-success" %>
													    </h3>
													  </div>
													</div>
												</div>
											<% end %>
				          	<% end %>
									</div>
								</div>
								
								
								<div class="tab-pane fade" id="info" >
				          <div class="container-fluid" >
				          	<div class="row" style="margin-bottom: 30px;">
				          		<div class="col-md-4">
				          			<%= image_tag @organizer.logo.url(:medium), class:"img-rounded img-responsive text-center", style:"margin: 0 auto; width: 200px; margin-top: 25px; "%>
				          		</div>
				          		<div class="col-md-8" id="org_info">
				          		
				          			<% if current_user && current_user.id == @organizer.user_id %>
									      	<br>
										      <%= link_to edit_organizer_path(@organizer), style:"background-color: #7193bf; border: none; width: 70px;", class:"btn btn-xs btn-success" do %>
										        edit info
										      <% end -%>
											   <% end -%>
											   <a class="btn btn-xs btn-success" href=".modal_share" data-toggle="modal" data-target=".modal_share" style="background-color: #e58b5a; border: none; width: 70px;">
										        <i class="fa fa-share-alt"></i> share
										      </a>
						    				<h4 style="text-align: justify; font-weight: 400; margin-bottom: 30px;"> <%= @organizer.about %></h4>
						    				<font style="font-size: 1.2em; font-weight: 500;"> contact </font> <br>
						    				<row>
						    					<div class="col-md-6">
						    						<% if @organizer && !@organizer.phone.blank? %>
								            	tel:	<%= number_to_phone(@organizer.phone)%>
								            <% end -%> <br>
						    						<% if @organizer && !@organizer.email.blank? %>
									            email: <%= @organizer.email %>
									          <% end -%> <br>
						    						<% if @organizer && !@organizer.website.blank? %>
								              website:
								              <a href="http://<%=@organizer.website%>" class="dont-break-out" target="_blank" >
								              <%=@organizer.website%>
								              </a>
								            <% end -%>
						    					</div>
						    					<div class="col-md-6" >
						    						
						    						<% if @organizer.location.present? %>
							                <% @address = @organizer.location %>
							                location: 
							                <%= link_to  "http://maps.google.com/maps?q=#{@address.address_line2 } #{@address.city} ", :target => "_blank" do %>
							                  <% if @address.address_line1.present? %>
							                    <%= @address.address_line1 %>,
							                  <%end%> <%= @address.address_line2 %>,  <%= @address.city %>,  <%= @address.state %> 
							                <% end %>
							              <% end %>
						    					</div>
						    				</row>
          
						    			</div>
				          	</div>
				          	 
									</div>
								</div>
								
							</div>
						</div>
					</div>
					
					
				</div>
			</div>
		</div>
	</div>
</div>

<!--share modal  -->
<div class="modal fade modal_share" tabindex="-1" role="dialog" aria-labelledby="modal_contact">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <%= social_share_button_tag(@organizer.name, :url => "#{ENV["SKILLMENG_SITE"]}/organizers/#{@organizer.slug}") %> <br>
        <div class="input-group">
          <input type="text" id="foo" value="<%= ENV["SKILLMENG_SITE"]%>/organizers/<%= @organizer.slug %>" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-warning btn-md" data-clipboard-target="#foo" type="button" data-toggle="tooltip" data-placement="left" title="Copied!">Copy</button>
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <a type="button" data-dismiss="modal" style="color: #d9534f;">close</a>
      </div>
    </div>
  </div>
</div>

<!--addon modal  -->
<div class="modal fade modal_addon" tabindex="-1" role="dialog" aria-labelledby="addon_modal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if current_user && current_user.id == @organizer.user_id %>
          <%= render "organizer_orders/form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


	<%= render "helper_code/raty" %>
	<%= render "helper_code/tooltip_toggle" %>
	<%= render "helper_code/single_page_tabs" %>