<div class="container-fluid profile_content text-center" style="background-color: #FFFFFF;">
  <div class="row">
    <h3 class="text-center featured_menu" style="padding-bottom: 30px;" >
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#news" role="tab" data-toggle="tab" id="news_tabs">
          <span class="menu-item active" >
            news<br>
          </span>
          <span id="new_alert"> <%= !@new_announcement.empty? ? "new": "" %></span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#inbox" role="tab" data-toggle="tab" id="inbox_tabs">
          <span class="menu-item" >
            inbox<br>
          </span>
          <span id="new_alert"> <%= current_user.unread_inbox_count > 0  ? "new": "" %></span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#info" role="tab" data-toggle="tab" id="info_tabs">
          <span class="menu-item" >
            info<br>
          </span>
        </a>
      </div>
    </h3>
  </div>
  
  
  <!--tab content-->
  
  <div class="container-fluid">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="news">
        <div class="row">
          <%= render @announcements.first(6) %>
          <% if @announcements.count > 6 %>
          	<%= link_to news_path(current_user) do %>
  	          <h5>
  	            view all
  	          </h5>
  	        <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="inbox" style="margin-top: 15px;">
        <div class="row">
          <%= render @conversations.first(8) %>
          <% if @conversations.count > 8 %>
          	<%= link_to conversations_path(type: 'inbox') do %>
		          <h5>
		            view all
		          </h5>
		        <% end %>
          <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="info" >
        <div class="container-fluid" >
        	<div class="row" style="margin-bottom: 30px; margin-top: 25px;">
        		<div class="col-md-4" style="margin-bottom: 30px;">
        			<%= image_tag current_user.avatar.url(:avatar), class:"img-rounded img-responsive text-center", style:"margin: 0 auto; width: 200px; "%>
        		</div>
        		<div class="col-md-8 text-left" id="org_info">
  
        		  <%= link_to edit_user_registration_path(current_user), style:"background-color: #7193bf; border: none; width: 70px;", class:"btn btn-xs btn-success" do %>
				        edit info
				      <% end -%> <br>
				        name: <%= current_user.fname %> <%= current_user.lname %> <br>
				        tel: <%= current_user.tel.present? ? number_to_phone(current_user.tel) : "No Number Provided"  %> 
                email: <%= current_user.email %> <br>
          	</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>