<div class="container-fluid profile_content text-center" style="background-color: #FFFFFF;">
  <div class="row">
    <h3 class="text-center featured_menu" style="padding-bottom: 30px;" >
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#news" role="tab" data-toggle="tab" id="news_tabs">
          <span class="menu-item active" >
            news<br>
          </span>
          <span id="new_alert"> <%= !@new_announcement.empty? ? "new": "" %></span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#inbox" role="tab" data-toggle="tab" id="inbox_tabs">
          <span class="menu-item" >
            inbox<br>
          </span>
          <span id="new_alert"> <%= current_user.unread_inbox_count > 0  ? "new": "" %></span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a href="#info" role="tab" data-toggle="tab" id="info_tabs">
          <span class="menu-item" >
            info<br>
          </span>
        </a>
      </div>
    </h3>
  </div>
  
  
  <!--tab content-->
  
  <div class="container-fluid">
    <div class="tab-content">
      <div class="tab-pane fade active in" id="news">
        <div class="row">
          <% if !@announcements.empty?  %>
    			   <%= render @announcements.first(6) %>
            <% if @announcements.count > 6 %>
            	<%= link_to news_path(current_user) do %>
    	          <h5>
    	            view all
    	          </h5>
    	        <% end %>
            <% end %>
          <% else %>
				  	<div class="quote">
				  		<h3>
    				  	On this tab, you see your most recent in-app announcements from 
    				  	courses you are interested in. Only these courses can post announcements
    				  	to your news feed. You can change these settings by visiting your wishlist page.
				  		</h3>
				  	</div>
				  <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="inbox" style="margin-top: 15px;">
        <div class="row">
          <% if !@conversations.empty?%>
    			  <%= render @conversations.first(8) %>
            <% if @conversations.count > 8 %>
            	<%= link_to conversations_path(type: 'inbox') do %>
  		          <h5>
  		            view all
  		          </h5>
  		        <% end %>
            <% end %>
          <% else %>
				  	<div class="quote">
				  		<h3>
				  		  Here, you can see and reply your most recent messages from other users or courses.
				  		  Recipients will also get an email once a message is sent. 	
				  		</h3>
				  	</div>
				  <% end %>
        </div>
      </div>
      <div class="tab-pane fade" id="info" >
        <div class="container-fluid" >
        	<div class="row" style="margin-bottom: 30px; margin-top: 25px;">
        		<div class="col-md-4" style="margin-bottom: 30px;">
        			<%= image_tag current_user.avatar.url(:avatar), class:"img-rounded img-responsive text-center", style:"margin: 0 auto; width: 200px; "%>
        		</div>
        		<div class="col-md-4 text-left" id="org_info" style="margin-bottom: 30px;">
  
        		  <%= link_to edit_user_registration_path(current_user), style:"background-color: #7193bf; border: none; width: 70px;", class:"btn btn-xs btn-success" do %>
				        edit info
				      <% end -%> <br>
				        name: <%= current_user.fname %> <%= current_user.lname %> <br>
				        tel: <%= current_user.tel.present? ? number_to_phone(current_user.tel) : '<span style="background-color: #de6e32; color: #FFF; padding: 0px 5px;"> no number provided</span>'.html_safe  %> <br>
                email: <%= current_user.email %> <br>
          	</div>
          	<% if current_user.tel == "" %>
            	<div class="col-md-4">
                <div class="panel panel-default">
                  <%= link_to edit_user_registration_path(current_user) do %>
                    <div class="panel-body text-center" style="background-color: #de6e32; color: #FFF; border: none; border-radius: 5px; "> 
                      <h2 style="margin: 0px; padding: 0px; font-family: 'Gochi Hand', cursive; letter-spacing: 0.5px;"> Didn't know they changed your course schedule?</h2>
                      <h6>get text alerts from courses you follow by filling in your mobile number</h6>
                    </div>
                  <% end %>
                </div>
              </div>
            <%end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>