<% title "Home" %>
<div class="wallpaper">
  <% if @slider_pic %>
    <% @course = Course.find(@slider_pic.course_id) %>
    <div class="jumbotron jumbotron_top" style="background: url('<%= @slider_pic.slider_image.url(:original) %>'); margin-top: -20px;">
    
      <%= render "welcome_search"%>
      <div id="course_title">
      
        <%= link_to @course do%>
          <%= @course.title %>
        <% end %>  
      </div>
    </div>
  <% else %>
    <div class="jumbotron jumbotron_top" style='background: url(<%= image_tag "home_bg_1.jpeg"%>); margin-top: -20px;'>
      <%= render "welcome_search"%>
    </div>
  <% end %>
</div>

<div class="container-fluid text-center" style="margin-bottom: 30px;">
  <h2 style="margin: 30px;">categories</h2>
  <div class="row">
  
      <% @category_count.each do |key,array| %>
        <% if array > 0 %>
          <div class="col-md-3 col-lg-2 col-sm-4 col-xs-6">
            <%= link_to "#{key}", courses_path(search_cat: "#{key}"), class:"couse_cat btn btn-primary btn-md" %>
          </div>
        <% end %>
      <% end %>
   
  </div>
</div>


<div class="container-fluid" style="background-color: #FFF;">
  <div style="margin-top: 10px; margin-bottom: 50px; ">
    <div id="homepage_tutor">
      <h2 class="text-center">teach a course</h2>
      <div class="row" style="margin-top: 20px;">
        <div class="col-md-6 col-xs-12 col-sm-6">
          <%= image_tag 'skill_teach.jpeg', class:"img-responsive", style:"width: 550px;" %>
        </div>
        <div class="col-md-6 col-xs-12 col-sm-6">
          <div class="container-fluid">
            <p style="font-size: 1.5em; font-weight: 300; text-align: justify;" > 
              SkillmeNG is an online hub for offline courses. It’s designed to help individuals with skills connect with people that want to learn.
            
            <h4 class="mobile_centralize" style="font-size: 1.5em; color: #e28b60; font-weight: 400;"> What skill can you teach? </h4>
            <p style="font-size: 1.5em; font-weight: 300; text-align: justify;" > 
              We host courses on just about anything! From how to start a balanced investment portfolio to how to change car batteries. <br>
              Join our growing community of teachers, create a course and get discovered. 
            </p> 
          
              
              
            <div class="mobile_centralize">
              <%= link_to "create course", new_course_path, class:"couse_cat btn btn-primary btn-sm", style:"font-size: 20px;" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>