

<%= simple_form_for([@course, @about]) do |f| %>
	<div class="form-inputs">
		<%= f.input :content, required: true, label: "About this course (Max 300 char)", maxlength: "300",  :input_html => {:rows => 5, :id => "text"}-%>
	  <h6 class="pull-right" id="count_message"></h6>
	</div>
	
  <hr>
  <h4>Qualifications needed to take course</h4>
  <div id="requirements">
    <%= f.simple_fields_for :requirements do |requirement| %>
      <%= render 'requirement_fields', f: requirement %>
    <% end %>
    
    <div class="links">
      <%= link_to_add_association f, :requirements, class:"add_qualification" do %>
        <i class="fa fa-plus"></i> Qualification
      <% end %>
    </div>
  </div>
  <hr>
  <h4>What items should people bring?</h4>
  <div id="checklist_items">
    <%= f.simple_fields_for :checklist_items do |checklist_item| %>
      <%= render 'checklist_item_fields', f: checklist_item %>
    <% end %>
  
    <div class="links">
      <%= link_to_add_association f, :checklist_items, class:"add_checklist_item" do %>
         <i class="fa fa-plus"></i> Checklist Item
      <% end %>
    </div>
  </div>
  
  <hr>
  <h4> What will people recieve upon course completion?</h4>
  <div id="course_rewards">
    <%= f.simple_fields_for :course_rewards do |course_reward| %>
      <%= render 'course_reward_fields', f: course_reward %>
    <% end %>
    
    <div class="links"  style="margin-bottom: 20px;">
      <%= link_to_add_association f, :course_rewards, class:"add_award" do %>
        <i class="fa fa-plus"></i> Award
      <% end %>
    </div>
  </div>
  
	<% session[:setup_wizard] ? @pass_param = "Next step" : @pass_param = "Submit"  %>
  <div class="form-actions text-center">
    <% if session[:setup_wizard] %>
     <%= link_to 'Back', edit_course_path(@course), class:'btn btn-danger' %>
		<% end%>
    <%= f.button :submit, name: "type", value: "#{@pass_param}" %>
		<% unless session[:setup_wizard] %>
		  <%= link_to 'Back', @course, class:'btn btn-danger' %>
		<% end %>
		 
  </div>

<% end -%>




