<div class="container-fluid about_gallery_content">
  <div class="row" style="margin-bottom: 20px;"> 
    <div class="col-sm-6 col-md-6 about_content">
      <h3 class="mobile_centralize">
        About 
        <% if @about && current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
           <br><%= link_to 'edit about', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control" %>
        <% end -%>
      </h3>
      <% if @about %>
        <div style = "text-align: justify;">
          <%= @about.content %>
          <br>
          <strong>Schedule:</strong>
          <% if !@course_plans.empty?  %>
            <% if @course.schedule_style == "Recurring weekdays" %>
        
              <% x = []%>
              <% for plan in @course.course_plans %>
                <% x += plan.week_days %>
              <% end %>
              
              <% odr =  ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'] %>
              <% x.sort_by! do |element| %>
                <% odr.index(element) %>
              <% end %>
              <% for day in x.uniq %>
                <%= day %>
              <% end %>
            <% else %>
              <%= @course.course_plans.minimum(:start_date).strftime("%d/%m/%Y")  %> - <%= @course.course_plans.maximum(:end_date).strftime("%d/%m/%Y")  %>
            <% end %>
          <% end %>
          <br> <small style="color: #ccc;">see plans for details</small>
        </div> <br>
      <% else -%>
        <div class="text-left mobile_centralize">
          <%if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" && @about.nil? -%>
             Tell people about your course <br>
            <%= link_to 'add about info', new_course_about_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %>
          <% else %> 
             No info provided 
          <% end -%>
        </div>
      <% end %>
      
      <p style="margin-top: 10px;" class="text-left mobile_centralize">
        This course is 
        <%= @course.saed ? "a saed," : ""%>
        <%= @course.online ? "online," : ""%>
        <% if @course.attended_by %>
          <%= @course.saed || @course.online ? "&" : "" %>
          <% case @course.attended_by %>
            <% when "everyone"%>
              for everyone
            <% when "adults (18+)"%>
              for adults only
            <% when "children only"%>
              for children only
            <% when "men only"%>
              for men only
            <% when "women only"%>
              for women only
            <% when "couples only"%>
              for couples only
          <% end %>
        <% end %>
        <br> Managed by <%=link_to @organizer.name, @organizer %>
      </p>
         
       
      <div class="mobile_centralize">
        <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
          <%= link_to 'edit tags', edit_course_path(@course), class:"btn btn-xs btn-default course_control"%>
          <br>
        <% end -%>
        
        <% @course.tag_list.each do |x| %>
          <%= link_to tag_path(x) do%>
            <span class="badge" style="background-color: #e27937; color: #FFFFFF;"><%= x %></span> 
          <% end %>
        <% end %>
      </div> 
       
      
    </div>
    <div class="col-md-6 col-sm-6 gallery_info ">
      <% if @gallery_pics && !@gallery_pics.empty? %>
        <div class="container-fluid carousel_outer">
          <div class="about_carousel">
            <% for gallery_pic in  @gallery_pics %>
              <div>
                <a href="#modalShow<%= gallery_pic.id%>" data-toggle="modal" data-target="#modalShow<%= gallery_pic.id%>">
                  <%= image_tag gallery_pic.image.url(:medium), class:"img-responsive", style: "margin: 0 auto; width: 800px;" %>
                </a>
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
          <%= link_to  new_course_gallery_pic_path(@course) do %>
            <%= image_tag 'add_pictures.png', class:"img-responsive"%>
          <% end %>
        <% end %>
      <% end %>
      <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
        <div class="mobile_centralize">
          <%= link_to 'add photo', new_course_gallery_pic_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %>
        <br>
        </div>
      <% end %>
    </div>
  </div>
</div>

<!--modal-->
<% for gallery_pic in  @gallery_pics %>
  <div class="modal fade" id="modalShow<%= gallery_pic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">
            <%= @course.title %>
          </h4>
        </div>
        <div class="modal-body text-center">
          <%= image_tag gallery_pic.image.url(:original), class:"display_pic img-responsive", style: "margin: 0 auto; max-height: 450px;"%> <br>
          <% if gallery_pic.caption? %>
            <%= gallery_pic.caption.html_safe %>
          <% end %>
          <br>
          
          <div class="btn-group btn-group-sm" role="group" aria-label="..." style="margin-top: 30px;">
            <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class="btn-group" role="group">
                 <%= link_to 'edit', edit_course_gallery_pic_path(@course, gallery_pic), class:"btn btn-default", style:"width: 100px;"%>
              </div>
            <% end %>
            <div class="btn-group" role="group">
              <button type="button" class="btn btn-default" id="form_cancel" data-dismiss="modal" >close</button>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
<%end%>

          
<script type="text/javascript">

  $(document).ready(function(){
    $('.about_carousel').slick({
      dots: true,
      infinite: true,
      speed: 500,
      fade: true,
      cssEase: 'linear',
      autoplay: true,
      autoplaySpeed: 4000,
      slidesToShow: 1
    });
  });
			
</script>
