      <!--collections-->
      <% @categories = [ "sport/fitness", "photography/film", "food/drink","fashion/style", "hair/beauty", "languages", "music", "art/crafts", "technical", "design", "technology", "professional", "lifestyle", "religion", "just for fun" ] %>
      <% @who_can_attend = [ 'everyone','adults (18+)','children only','men only','women only','couples only' ] %>
      <% current_user.role == "admin" ? @tutor_name = "SkillmeNG" : @tutor_name = @user_organizer.name %>
 

      <%= simple_form_for(@course) do |f| %>
        <% @name = "#{current_user.fname.capitalize} #{current_user.lname.capitalize}" %>
        <%= f.error_notification %>
      
        <div class="form-inputs">
          <%= f.input :title, :label => 'Title (25 char max)', maxlength: "25", required: true %>
          <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= f.input :tutor, :label => 'Organizer', input_html: {value: @tutor_name}, readonly: true, required: true %>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
              <%= f.input :category, label: 'Category', :collection => @categories,  required: true %>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4">
                <%= f.input :local_area, label: "City/Area", input_html: {value: @course.local_area.present? ? @course.local_area : @user_organizer.location.city }, required: true %>
                <%= f.input :locality, label: "State", required: true, selected:  @course.locality.present? ? @course.locality : @user_organizer.location.state, :collection => ['Abia','Abuja (FCT)','Adamawa','Anambra','Akwa Ibom','Bauchi','Bayelsa','Benue','Borno','Cross River','Delta','Ebonyi','Enugu','Edo','Ekiti','Gombe','Imo','Jigawa','Kaduna','Kano','Katsina','Kebbi','Kogi','Kwara','Lagos','Nasarawa','Niger','Ogun','Ondo','Osun','Oyo','Plateau','Rivers','Sokoto','Taraba','Yobe','Zamfara'] -%>
                </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <%= f.input :attended_by, label:'Who can attend?', :collection => @who_can_attend, :default => true %>
                <%= f.input :schedule_style, label: "Schedule style", :collection => ['Recurring weekdays','Specific calender days'], include_blank: false -%>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4">
                <%= f.input :saed, label:'It\'s a SAED <i class="fa fa-question-circle" data-toggle="tooltip" title="A Skill Acquisition and Entrepreneurship Development program for NYSC corpers. (Must be government registered)"></i>'.html_safe %>
                <%= f.input :online, label: 'It\'s an online course <i class="fa fa-question-circle" data-toggle="tooltip" title="Check this if an internet connection is required to attend this course "></i>'.html_safe %>
                <%= f.input :display_pic, hint: 'Recommended size: 1200px <span style="font-size: .8em;">x</span> 630px'.html_safe, label: 'Display picture',  as: :file%>
              </div>
          </div>
        
          <div class="row container-fluid">
            <%= f.input :tag_list, label: 'Tags <i class="fa fa-question-circle" data-toggle="tooltip" title="Up to four words or phrases that best describe the class"></i> (4 tags max) '.html_safe, placeholder: "e.g. cooking, small chops, catering, cocktails", hint: "Use commas to seperate tags", :input_html => { :class => "css-class", :value => @course.tag_list.join(", ")} %>
          </div>
          
          <% session[:setup_wizard] ? @pass_param = "Next step" : @pass_param = "Submit"  %>
          <div class="form-actions text-center" style="margin-top: 20px">
            <%= f.button :submit, name: "type", value: "#{@pass_param}", id:"form_submit" %>
           	<% unless session[:setup_wizard] %>
        		  <%= link_to 'Cancel', :back, class:'btn btn-default ', id:"form_cancel" %>
        		<% end %>
          </div>
          
  
        <% end %>
  
        	
	      <%= render "helper_code/tooltip_toggle" %>
  