<div class="container-fluid manager_controls_content text-center">
  <div class="row" style="margin-bottom: 10px;" <% params[:visitor] == "visitor" ? "red":"blue" %>> 
   
    <% if current_user && current_user.id == @course.user_id %>
      <h4>
        <strong>Status:</strong> <span style="color: <%= @course.course_state == "activated" ? "#1aa67a": "#d9534f" %>;"><%= @course.course_state %> </span>
        <span  data-toggle="tooltip" title="<%= course_state_explaination(@course)%>" style="font-size: 0.70em; color: #777; top: -1px; position: relative;"><i class="fa fa-question-circle"></i></span>
        <br>
        <small>
          <% if params[:visitor] == "visitor" %>
            <%= link_to @course do %>
              view as <strong>manager</strong><br>
            <%end%>
          <%else%>
            <%= link_to course_path(@course, visitor: "visitor") do %>
              view as <strong>visitor</strong> <br>
            <%end%>
          <%end%>
        </small>
         <!--relaunch wizard-->
        <% unless  @course.course_state != "setup" || @course.completeness >= 75 %>
         	<div class="text-center" style="padding: 10px;">
      		  <%= link_to course_course_wizard_path(@course, type: "start"), class:'btn btn-xs btn-warning' do %>
      		    launch wizard  <i class="fa fa-magic"></i>
      		  <% end %>
      		</div>  
      	<% end %>
      </h4>
    <% end %>
  </div>
</div>