<div class="more_info container-fluid" style="background-color: #f9f9f9">
  <div class="row" style="margin-bottom: 20px;"> 
    <div class="col-sm-8 col-md-7 ">
      <div>
        <h3 class="course_tabs_menu more_tabs" style="padding-bottom: 15px;" >
          <a href="#course_class" role="tab" data-toggle="tab" id="course_class_tabs">
            <span class="menu-item active" >
             <%= "Plans".pluralize(@course.course_plans.count) %>
            </span>
          </a>
          &nbsp;
          <a href="#more_info" role="tab" data-toggle="tab" id="more_info_tabs">
            <span class="menu-item" >
              More
            </span>
          </a>
		    </h3>
      </div>
      
      <!--Info content-->
      <div class="tab-content">
        
        <!--Price content-->
       
        <div class="tab-pane fade active in"  id="course_class">
          <div class="mobile_centralize">
            <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <% if !@course_plan.nil? %>
                <%= link_to 'edit plans', edit_course_course_plan_path(@course, @course_plan), class:"btn btn-xs btn-default course_control"%>
                <br>
              <% elsif @course_plan.blank? || @course_plan.course_plans.empty? %>
                <%= link_to 'add plans', new_course_course_plan_path(@course), class:"btn btn-xs btn-default course_control"%>
                <br>
              <% end %>
            <% end %>
          </div>
          <% if @course_plan && !@course_plan.course_plans.empty? %>
              <table class="table table-condensed table-striped">
                <tr>
                  <td>
                    <strong>Amount</strong> 
                  </td>
                  <td style="color: #777777;">
                    <strong>Details</strong>   
                  </td>
                </tr> 
                <% for price in @course_plan.course_plans.order('price ASC') do %>
                  <tr>
                    <td style="min-width: 150px">
                      <%= price.price? ? "₦#{number_with_delimiter(price.price.floor)}" : "Free" %> for <%= pluralize(price.quantity, "#{price.unit}") %>
                    </td>
                    <td style="color: #777777;">
                      <%= price.explaination %>    
                    </td>
                  </tr> 
                <% end %>
                <% if @user_organizer && @user_organizer.courses.count > 0 && @course_plan.trade_by_barter %>
                  <tr>
                    <td> Barter available</td>
                    <td style="color: #777777;">This course owner is willing to teach you this course in exchange of learning from one of the courses you offer on Skillmeng&trade;.</td>
                  </tr>
                <% end %>
              </table>
          <% else %>
           <% if @course_plan.blank? || @course_plan.course_plans.empty? %>
              <h5>No info provided</h5> 
            <% end %>
          <% end %>
          
          <% unless current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" -%>
            <% if @course_plan && !@course_plan.course_plans.empty? %>
              <div class="mobile_centralize">
                <a href="" data-toggle="modal" data-target=".payment_info_modal", style="background-color: #e58b5a; border: none; width: 90px;", class="btn btn-xs btn-success" >
                  How to pay
                </a> 
              </div>
            <% end %> 
          <% end %> 
        
        </div>
        

        <!--More info-->
        <div class="tab-pane fade" id="more_info">
          
          <% unless @about %>
             <h5>No info provided</h5>
          <% end %>
          
          <% if @about && current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
            <div class="mobile_centralize">
              <small>
               <%= link_to 'edit more', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control"%>
              </small>
            </div>
          <% end -%>
          
          <!--requirements info-->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 10px;">
            <% if @about && @about.requirements.present? %>
              <h5 role="tab" id="headingOne" style=" margin-bottom: -8px; border-radius: 5px;">
                <a role="button" data-toggle="collapse" style="color: #e58b5a;" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <%=@about.requirements.count%> <%= "thing".pluralize(@about.requirements.count) %> you should have
                </a>
              </h5>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div>
                  <h5>
                  <% @about.requirements.each do |requirement| %>
                    - <%= requirement.description %>  <br>
                  <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.requirements.blank? && params[:visitor] != "visitor"%>
              <div class="text-left mobile_centralize">
                Tell people what they need to have <br>
                <%= link_to 'Add qualification', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class="text-left mobile_centralize">
                Tell people what they need to have <br>
                <%= link_to 'Add qualification', new_course_about_path(@course), class:"btn btn-xs btn-default course_control"  , style:"margin-top: 10px;"%> 
              </div>
            <% end %>
            
            <!--checklist info-->
            <% if @about && @about.checklist_items.present? %>
              <h5 role="tab" id="headingTwo" style=" margin-bottom: -8px; border-radius: 5px;">
                <a class="collapsed" role="button" style="color: #e58b5a;" data-toggle="collapse" data-parent="#accordions" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <%= @about.checklist_items.count%> <%= "thing".pluralize(@about.checklist_items.count) %> you should bring
                </a>
              </h5>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div>
                  <h5>
                    <% @about.checklist_items.each do |checklist_item| %>
                      - <%= checklist_item.description %> <br>
                    <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.checklist_items.blank? && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what they need to bring <br>
                <%= link_to 'Add item', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class=" mobile_centralize">
                Tell people what they need to bring <br>
                <%= link_to 'Add item', new_course_about_path(@course), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% end %>
            
            <!--award info-->
            <% if @about && @about.course_rewards.present? %>
              <h5 role="tab" id="headingThree" style="margin-bottom: -8px; border-radius: 5px;">
                <a class="collapsed" role="button" style="color: #e58b5a;" data-toggle="collapse" data-parent="#accordions" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <%= @about.course_rewards.count%> <%= "award".pluralize(@about.course_rewards.count) %> given
                </a>
              </h5>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div>
                  <h5>
                    <% @about.course_rewards.each do |course_reward| %>
                      - <%= course_reward.name %> <%= !course_reward.acronym.empty? ? "(#{course_reward.acronym})" : ""%>
                      <%= !course_reward.description.blank? ? ": #{course_reward.description}" : "" %> </br>
                    <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.course_rewards.blank? && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what awards (if any) are available<br>
                <%= link_to 'Add item', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %> 
              </div>
             <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what awards (if any) are available<br>
                <%= link_to 'Add item', new_course_about_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %> 
              </div>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
    

    <hr id="desktop_disapear" style="margin-top: 20px">
    <!--regarding contact-->
    <div class="col-sm-4 col-md-5">
      <div class="contact_text">
        <div class="contact_tabs">
          <h3> Contact
            <% if @contact && current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <small>
                <br> <%= link_to 'edit contact', edit_course_contact_path(@course, @contact), class:"btn btn-xs btn-default course_control"%>
              </small>
            <% end -%>
          </h3>
        </div>
        <% if @contact %>
          <strong>Name:</strong>
          <strong></strong> <%=@contact.contact_name %>
          <% if !@contact.tel1.blank? %>
            <br>
              <strong>Telphone 1:</strong>
              <%=number_to_phone(@contact.tel1)%>
          <% end -%>
          <% if !@contact.tel2.blank? %>
            <br>
              <strong>Telphone 2:</strong>
              <%=number_to_phone(@contact.tel2)%>
          <% end -%>
          <% if !@contact.tel3.blank? %>
            <br>
              <strong>Telphone 3:</strong>
              <%=number_to_phone(@contact.tel3)%>
          <% end -%>
          <% if !@contact.email.blank? %>
            <br>
              <strong>Email:</strong>
              <%=@contact.email%> 
          <% end -%>
         
          
          <br>
          <% if @contact.social_link %>
            <span style="font-size: 20px;">
              <%= @contact.social_link.facebook.present? ? "<a href='#{@contact.social_link.facebook}' target='_blank' style='color: #e58b5a;'><i class='fa fa-facebook-square'></i></a>".html_safe : "" %>
              <%= @contact.social_link.twitter.present? ? "<a href='#{@contact.social_link.twitter}' target='_blank' style='color: #e58b5a;'><i class='fa fa-twitter-square'></i></a>".html_safe : "" %>
              <%= @contact.social_link.linkedin.present? ? "<a href='#{@contact.social_link.linkedin}' target='_blank' style='color: #e58b5a;'><i class='fa fa-linkedin-square'></i></a>".html_safe : "" %>
              <%= @contact.social_link.googleplus.present? ? "<a href='#{@contact.social_link.googleplus}' target='_blank' style='color: #e58b5a;'><i class='fa fa-google-plus-square'></i></a>".html_safe : "" %>
              <%= @contact.social_link.pintrest.present? ? "<a href='#{@contact.social_link.pintrest}' target='_blank' style='color: #e58b5a;'><i class='fa fa-pinterest-square'></i></a>".html_safe : "" %>
              <%= @contact.social_link.instagram.present? ? "<a href='#{@contact.social_link.instagram}' target='_blank' style='color: #e58b5a;'><i class='fa fa-instagram'></i></a>".html_safe : "" %>
              <%= !@contact.tutor_website.blank? ? "<a href='#{@contact.tutor_website}' target='_blank' style='color: #e58b5a;'><i class='fa fa-globe'></i></a>".html_safe : "" %>
            </span> 
          <% end %>
          
        <% else %> 
          <%if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" -%>
            
             <br><%= link_to 'Share contact details', new_course_contact_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %>
            <h5>Tell people how to contact you</h5>
          
          <% else %> 
              <h5 style="margin-top: 25px;">No info provided</h5> 
          <% end -%>
        <% end -%>
        
        <!--send in app message-->
        <% if current_user && current_user.id == @course.user_id%>          
    
        <% elsif current_user -%>
          <%= form_tag conversations_path, method: :post do %>
            <%= hidden_field_tag :sender, @course.user_id %>
            <%= hidden_field_tag :subject,  "[Message] #{@course.title} by #{current_user.fname.try(:titleize)} #{current_user.lname.try(:titleize)}".html_safe %>
            <%= text_area_tag :body, nil, class: 'form-control message_text_input', :input_html => {:rows => 1} %>
            <%= submit_tag "SEND MESSAGE", class: 'btn  btn-default btn-sm btn-block', style: "background-color: #555555; color: #FFFFFF; border: none;" %>
          <% end -%>
        <% else -%>
          <br>
          <%= link_to "Login in", new_user_session_path %> to send an in-app message.
        <% end -%>
      </div>
    </div>
  </div>
</div>


<!--modal for payment instructions-->
<% if @course_plan %>
  <div class="modal fade payment_info_modal" tabindex="-1" role="dialog" aria-labelledby="payment_info_modal">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">How to pay</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="container-fluid">
              <div class="col-xs-12 col-sm-6 col-md-6">
                <div id="payment_warning" class="text-center" style="background-color: #e27937; color: #FFFFFF; padding: 30px;">
                  <h4>
                    <strong style="font-family: 'Gochi Hand', cursive; font-size: 1.6em;">Hollup!</strong>
                    <div style="text-align: justify; margin-top: 10px;" >
                      BEFORE YOU PAY for <%= @course.title %> - make sure you get in touch with the course manager. <br><br>
                      SkillmeNG&trade;  is not responsible for this course content and does not accept any responsibility/liability for 
                      this transaction. In short - pay at your own risk!
                    </div>
                    <br><button class="btn btn-default btn-sm" id="payment_warning_accept" type="submit" style="margin-top: 10px; border: none; color: #e27937;">I accept</button>
                  </h4>
                </div>
                <div id="actual_payment_info" style="display: none;">
                  <strong>Bank Name:</strong> <%= @course_plan.bank_name %><br>
                  <strong>Account Number:</strong> <%= @course_plan.bank_account_number %><br>
                  <strong>Account Name:</strong> <%= @course_plan.bank_account_name %><br>
                  <strong>Payment Instructions:</strong>
                  <% if @course_plan.payment_instruction.present? %>
                    <br> <div style="text-align: justify;"><%= @course_plan.payment_instruction %></div>
                  <% else %>
                    <span class="text-center" style="color: grey;">No payment instructions provided</span>
                  <% end %><br>
                  <strong>Refund Instructions:</strong>
                  <% if @course_plan.refund_instruction.present? %>
                    <br><div style="text-align: justify;"><%= @course_plan.refund_instruction %></div>
                  <% else %>
                    <span class="text-center" style="color: grey;">No refund instructions provided</span>
                  <% end %>
                  <% if @user_organizer && @user_organizer.courses.count > 0 && @course_plan.trade_by_barter %>
                    <hr>
                    <div>
                      Barter option is available <span data-toggle="tooltip" title="This course owner is willing to teach you this course in exchange of learning from one of the courses you offer on Skillmeng&trade;. Go on, see if you could strike a deal. Goodluck!"><i class="fa fa-question-circle"></i></span><br>
                      <%= link_to "Try barter", new_course_course_request_path(@course), class:"btn btn-xs btn-default", style:"border: none; background-color: #e27937; color:#FFFFFF;" %>
                    </div>
                  <% end %>
                </div>
              </div>
              
             
              <div class="col-xs-12 col-sm-6 col-md-6" style="margin: 30px 0px;">
              
                <table class="table table-condensed table-striped">
                    <!--price info-->
                    <tr style="color: #de7947;">
                      <td>
                         <strong>plans</strong>
                        <% if @course_plan.blank? || @course_plan.course_plans.empty? %>
                          <strong>No info provided</strong>
                        <% else %>
                      </td>
                      <td></td>
                    </tr>
                    <% for price in @course_plan.course_plans.order('price ASC') do %>
                      <tr>
                        <td>
                          <%= price.price? ? "₦#{number_with_delimiter(price.price.floor)}" : "Free" %> for <%= pluralize(price.quantity, "#{price.unit}") %>
                        </td>
                        <td style="color: #777777;">
                          <%= price.explaination %>    
                        </td>
                      </tr> 
                    <% end %>
                    <% if @user_organizer && @user_organizer.courses.count > 1 && @course_plan.trade_by_barter %>
                      <tr>
                        <td> Barter available</td>
                        <td style="color: #777777;">This course owner is willing to teach you this course in exchange of learning from one of the courses you offer on Skillmeng&trade;.</td>
                      </tr>
                    <% end %>
                    
                    <!--contact info-->
                    <% if @contact %>
                      <tr style="color: #de7947;">
                        <td>
                           <strong>Contact</strong>
                        </td>
                        <td></td>
                      </tr>
                      <tr>
                        <td style="width: 125px">Name</td>
                        <td style="color: #777777;"><%=@contact.contact_name %></td>
                      </tr>
                      <% if !@contact.tel1.blank? %>
                        <tr>
                          <td style="width: 125px">Telphone 1</td>
                          <td style="color: #777777;"><%=number_to_phone(@contact.tel1)%></td>
                        </tr>  
                      <% end %>
                      <% if !@contact.tel2.blank? %>
                        <tr>
                          <td style="width: 125px">Telphone 2</td>
                          <td style="color: #777777;"><%=number_to_phone(@contact.tel2)%></td>
                        </tr>  
                      <% end %>  
                      <% if !@contact.tel3.blank? %>
                        <tr>
                          <td style="width: 125px">Telphone 3</td>
                          <td style="color: #777777;"><%=number_to_phone(@contact.tel3)%></td>
                        </tr>  
                      <% end %>  
                      <% if !@contact.email.blank? %>
                        <tr>
                          <td style="width: 125px">Email</td>
                          <td style="color: #777777; "> <%=@contact.email%> </td>
                        </tr>  
                      <% end %>  
                    <% end -%>
                  </table>
                <% end %>
             
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<script>
  $('#payment_warning_accept').click(function(e){    
    $('#payment_warning').fadeOut(400, function(){
      $('#actual_payment_info').fadeIn(400);
    });
  });
</script>