<div class="more_info container-fluid" style="background-color: #f9f9f9">
  <div class="row" style="margin-bottom: 20px;"> 
    <div class="col-sm-8 col-md-7 mobile_centralize">

      <h3><%= "Plans".pluralize(@course.course_plans.count) %></h3>
      <div class="row">
        <% for plan in @course_plans %>
          <div class="col-md-6  col-md-offset-0  col-xs-offset-1 col-xs-10">
            <div class="panel panel-default">
              <div class="panel-heading text-center"><strong><%= plan.plan_name%></strong></div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-2 col-xs-2"><i class="fa fa-money" style="font-size: 1.3em;"></i></div>
                  <div class="col-md-10 col-xs-10 text-right"><%= plan.price? ? "₦#{number_with_delimiter(plan.price.floor)}" : "Free" %></div>
                </div>
                <div class="row">
                  <div class="col-md-2 col-xs-2"><i class="fa fa-calendar" style="font-size: 1.3em;"></i></div>
                  <div class="col-md-10 col-xs-10 text-right">
                    <% if @course.schedule_style == "Recurring weekdays" %>
                      <% for day in plan.week_days%>
                        <%= day %>
                      <% end %>
                    <% else %>
                      <% if plan.start_date && plan.end_date %>
                        <%= plan.start_date.strftime("%d/%m/%y") %> - <%= plan.end_date.strftime("%d/%m/%y") %>
                      <% else %>
                        -
                      <% end %>
                    <% end %>
                  </div>
                </div>
                <div class="row" style="margin-top: 10px; margin-bottom: 8px;">
                  <div class="col-md-12">
                    <div class="progress" style="margin-bottom: 5px; background-color: #95999b;">
                      <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= plan.status == 'Open' ? '60%': '100%' %>;  background-color: <%= plan.status == 'Open' ? '#dd6e31': '#777' %>;">
                          <span class="sr-only">40% Complete (success)</span>
                        <p class="text-center" style=" color: #FFF;"> <%= plan.status == 'Open' ? "#{plan.capacity} spots left" : 'Plan is unavailable' %> </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="btn-group btn-group-justified " role="group" aria-label="...">
                  <div class="btn-group btn-group-xs" role="group">
                    <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#plan_modal_<%=plan.id%>">
                      Details
                    </button>
                  </div>
                    <div class="btn-group btn-group-xs" role="group">
                      <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
                        <%= link_to "Edit", edit_course_course_plan_path(@course, plan), style:"color: #FFF; background-color: #7193bf; border-color: #7193bf;", class:"btn btn-default"%>
                      <% else %>
                        <button type="button" class="btn btn-default <%= plan.status == 'Open' ? '': 'disabled' %>" style="color: #dd6e31;">Book</button>
                      <% end %>
                    </div>
                </div>
              </div>
            </div>
          </div>
        
          <!--plan modal-->
          <div class="modal fade" id="plan_modal_<%=plan.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-md" role="document">
              <div class="modal-content">
                <%= image_tag plan.display_pic.url(:medium), class: 'img-responsive' %>
                <div class="modal-body">
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col-xs-6 col-md-6 text-left">
                      <h4><%= plan.plan_name %></h4>
                      <i class="fa fa-money" style="font-size: 1.3em;"></i> &nbsp; <%= plan.price? ? "₦#{number_with_delimiter(plan.price.floor)}" : "Free" %><br>
                      <i class="fa fa-calendar" style="font-size: 1.3em;"></i> &nbsp; 
                      <% if @course.schedule_style == "Recurring weekdays" %>
                        <% for day in plan.week_days%>
                          <%= day %>
                        <% end %>
                      <% else %>
                        <% if plan.start_date && plan.end_date %>
                          <%= plan.start_date.strftime("%d/%m/%y") %> - <%= plan.end_date.strftime("%d/%m/%y") %>
                        <% else %>
                          -
                        <% end %>
                      <% end %>

                    </div>
                    <div class="col-xs-6 col-md-4 col-md-offset-2">
                      <div class="progress" style=" background-color: #95999b; margin-top: 12px; margin-bottom: 10px;">
                        <div class="progress-bar progress-bar-success " role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: <%= plan.status == 'Open' ? '60%': '100%' %>;  background-color: <%= plan.status == 'Open' ? '#dd6e31': '#777' %>;">
                          <span class="sr-only">40% Complete (success)</span>
                          <p class="text-center" style=" color: #FFF;"> <%= plan.status == 'Open' ? " #{plan.capacity} spots left": 'Plan is unavailable' %> </p>
                        </div>
                      </div>
                      <div class="text-right">
                        <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
                            <%= link_to "Edit Plan", edit_course_course_plan_path(@course, plan), style:"color: #FFF; background-color: #7193bf; border-color: #7193bf;", class:"btn btn-default"%>
                        <% else %>
                          <button type="button" class="btn btn-default <%= plan.status == 'open' ? '': 'disabled' %>" style="color: #dd6e31;">Book Plan</button>
                        <% end %>
                      </div>
                    </div>
                  </div>
                  <div class="row" style="margin-bottom: 15px;">
                    <div class="col-md-12">
                      <%= plan.description.html_safe %>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h5><%= plan.refund_policy == "No Refunds" ? "No refund available":"Refund availbale within #{plan.refund_policy}"  %></h5>
                      <h5><%= plan.trade_by_barter? ? "Plan is open to trade by barter":"" %></h5>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal" id="form_cancel">close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <% if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
        <%= link_to 'add Plan', new_course_course_plan_path(@course), class:"btn btn-xs btn-default course_control"%>
      <% end %>
    </div>
        
    <hr id="desktop_disapear" style="margin-top: 20px">
    
    <!--regarding contact-->
    <div class="col-sm-4 col-md-5 mobile_centralize">
      <div class="row">
        <div class="col-md-12">
          <div class="contact_text">
            <div class="contact_tabs">
              <h3> Contact
                <% if @contact && current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
                  <small>
                    <br> <%= link_to 'edit contact', edit_course_contact_path(@course, @contact), class:"btn btn-xs btn-default course_control"%>
                  </small>
                <% end -%>
              </h3>
            </div>
            <% if @contact %>
              <strong>Name:</strong>
              <strong></strong> <%=@contact.contact_name %>
              <% if !@contact.tel1.blank? %>
                <br>
                  <strong>Telphone 1:</strong>
                  <%=number_to_phone(@contact.tel1)%>
              <% end -%>
              <% if !@contact.tel2.blank? %>
                <br>
                  <strong>Telphone 2:</strong>
                  <%=number_to_phone(@contact.tel2)%>
              <% end -%>
              <% if !@contact.tel3.blank? %>
                <br>
                  <strong>Telphone 3:</strong>
                  <%=number_to_phone(@contact.tel3)%>
              <% end -%>
              <% if !@contact.email.blank? %>
                <br>
                  <strong>Email:</strong>
                  <%=@contact.email%> 
              <% end -%>
             
              
              <br>
              
                <span style="font-size: 20px;">
                  <% if @contact.social_link %>
                    <%= @contact.social_link.facebook.present? ? "<a href='#{@contact.social_link.facebook}' target='_blank' style='color: #e58b5a;'><i class='fa fa-facebook-square'></i></a>".html_safe : "" %>
                    <%= @contact.social_link.twitter.present? ? "<a href='#{@contact.social_link.twitter}' target='_blank' style='color: #e58b5a;'><i class='fa fa-twitter-square'></i></a>".html_safe : "" %>
                    <%= @contact.social_link.linkedin.present? ? "<a href='#{@contact.social_link.linkedin}' target='_blank' style='color: #e58b5a;'><i class='fa fa-linkedin-square'></i></a>".html_safe : "" %>
                    <%= @contact.social_link.googleplus.present? ? "<a href='#{@contact.social_link.googleplus}' target='_blank' style='color: #e58b5a;'><i class='fa fa-google-plus-square'></i></a>".html_safe : "" %>
                    <%= @contact.social_link.pintrest.present? ? "<a href='#{@contact.social_link.pintrest}' target='_blank' style='color: #e58b5a;'><i class='fa fa-pinterest-square'></i></a>".html_safe : "" %>
                    <%= @contact.social_link.instagram.present? ? "<a href='#{@contact.social_link.instagram}' target='_blank' style='color: #e58b5a;'><i class='fa fa-instagram'></i></a>".html_safe : "" %>
                  <% end %>
                  <%= !@contact.tutor_website.blank? ? "<a href='#{@contact.tutor_website}' target='_blank' style='color: #e58b5a;'><i class='fa fa-globe'></i></a>".html_safe : "" %>
                </span> 
              
              
            <% else %> 
              <%if current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" -%>
                
                 <br><%= link_to 'Share contact details', new_course_contact_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %>
                <h5>Tell people how to contact you</h5>
              
              <% else %> 
                  <h5 style="margin-top: 25px;">No info provided</h5> 
              <% end -%>
            <% end -%>
            
            <!--send in app message-->
            <% if current_user && current_user.id == @course.user_id%>          
        
            <% elsif current_user -%>
              <%= form_tag conversations_path, method: :post do %>
                <%= hidden_field_tag :sender, @course.user_id %>
                <%= hidden_field_tag :subject,  "[Message] #{@course.title} by #{current_user.fname.try(:titleize)} #{current_user.lname.try(:titleize)}".html_safe %>
                <%= text_area_tag :body, nil, class: 'form-control message_text_input', :input_html => {:rows => 1} %>
                <%= submit_tag "SEND MESSAGE", class: 'btn  btn-default btn-sm btn-block', style: "background-color: #555555; color: #FFFFFF; border: none;" %>
              <% end -%>
            <% else -%>
              <br>
              <%= link_to "Login in", new_user_session_path %> to send an in-app message.
            <% end -%>
          </div>
        </div> 
      </div> 
        
        
      <div class="row">
        <div class="col-md-12 mobile_centralize">
          <!--More info-->
          <h3> More Info </h3>        
          <% unless @about %>
             <h5>No info provided</h5>
          <% end %>
          
          <% if @about && current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
            <div class="mobile_centralize">
              <small>
               <%= link_to 'edit more', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control"%>
              </small>
            </div>
          <% end -%>
                
          <!--requirements info-->
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top: 10px;">
            <% if @about && @about.requirements.present? %>
              <h5 role="tab" id="headingOne" style=" margin-bottom: -8px; border-radius: 5px;">
                <a role="button" data-toggle="collapse" style="color: #e58b5a;" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <%=@about.requirements.count%> <%= "thing".pluralize(@about.requirements.count) %> you should have
                </a>
              </h5>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div>
                  <h5>
                  <% @about.requirements.each do |requirement| %>
                    - <%= requirement.description %>  <br>
                  <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.requirements.blank? && params[:visitor] != "visitor"%>
              <div class="text-left mobile_centralize">
                Tell people what they need to have <br>
                <%= link_to 'add qualification', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class="text-left mobile_centralize">
                Tell people what they need to have <br>
                <%= link_to 'add qualification', new_course_about_path(@course), class:"btn btn-xs btn-default course_control"  , style:"margin-top: 10px;"%> 
              </div>
            <% end %>
            
            <!--checklist info-->
            <% if @about && @about.checklist_items.present? %>
              <h5 role="tab" id="headingTwo" style=" margin-bottom: -8px; border-radius: 5px;">
                <a class="collapsed" role="button" style="color: #e58b5a;" data-toggle="collapse" data-parent="#accordions" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <%= @about.checklist_items.count%> <%= "thing".pluralize(@about.checklist_items.count) %> you should bring
                </a>
              </h5>
              <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
                <div>
                  <h5>
                    <% @about.checklist_items.each do |checklist_item| %>
                      - <%= checklist_item.description %> <br>
                    <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.checklist_items.blank? && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what they need to bring <br>
                <%= link_to 'add item', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class=" mobile_centralize">
                Tell people what they need to bring <br>
                <%= link_to 'add item', new_course_about_path(@course), class:"btn btn-xs btn-default course_control" , style:"margin-top: 10px;" %> 
              </div>
            <% end %>
            
            <!--award info-->
            <% if @about && @about.course_rewards.present? %>
              <h5 role="tab" id="headingThree" style="margin-bottom: -8px; border-radius: 5px;">
                <a class="collapsed" role="button" style="color: #e58b5a;" data-toggle="collapse" data-parent="#accordions" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <%= @about.course_rewards.count%> <%= "award".pluralize(@about.course_rewards.count) %> given
                </a>
              </h5>
              <div id="collapseThree" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingThree">
                <div>
                  <h5>
                    <% @about.course_rewards.each do |course_reward| %>
                      - <%= course_reward.name %> <%= !course_reward.acronym.empty? ? "(#{course_reward.acronym})" : ""%>
                      <%= !course_reward.description.blank? ? ": #{course_reward.description}" : "" %> </br>
                    <% end -%>
                  </h5>
                </div>
              </div>
            <% elsif  current_user && current_user.id == @course.user_id && @about && @about.course_rewards.blank? && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what awards (if any) are available<br>
                <%= link_to 'add item', edit_course_about_path(@course, @about), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %> 
              </div>
             <% elsif current_user && current_user.id == @course.user_id && params[:visitor] != "visitor" %>
              <div class="mobile_centralize">
                Tell people what awards (if any) are available<br>
                <%= link_to 'add item', new_course_about_path(@course), class:"btn btn-xs btn-default course_control", style:"margin-top: 10px;" %> 
              </div>
            <% end %>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $('#payment_warning_accept').click(function(e){    
    $('#payment_warning').fadeOut(400, function(){
      $('#actual_payment_info').fadeIn(400);
    });
  });
</script>