<% title "Gallery" %>
<% @disappear = 'disappear'%>

<div class="container">
  <div class="row">
    <%-# Overview content -%>
    <div class="col-xs-12 col-sm-4 col-md-3">
      <%-#main overview%>
      <%= render "overview" %>
      
      <%-#Destop controls%>
          <%if current_user && current_user.id == @course.user_id %>
            <%= link_to new_course_gallery_pic_path(@course), class:'btn btn-block btn-primary' do%>
              <i class="fa fa-plus"></i> Picture
            <% end -%> 
          <% end -%>
        <br>
    </div>
  
    <div class="col-xs-12 col-sm-8 col-md-9">
      
      <% @gallery_pics.each do |gallery_pic|%>
        <div class="col-md-4">
          <div class="panel panel-default panel-class">
            
              <a href="#" data-toggle="modal" data-target="#modalG<%= gallery_pic.id%>"> 
                <%= image_tag gallery_pic.image.url(:medium), class:"img-responsive", id: "gallery_pic", style: "margin: 0 auto;" %>
              </a>
    
            <%if current_user && current_user.id == @course.user_id -%>
              <div class="panel-footer text-center">
                <%= link_to 'edit picture', edit_course_gallery_pic_path(@course, gallery_pic), class: "btn btn-xs btn-default"%>
              </div>
            <% end -%>
          </div> 
        </div>
        
        <div class="modal fade" id="modalG<%= gallery_pic.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">
                  <i class="fa fa-camera-retro"></i>
                      <%= @course.title %>       
                </h4>
              </div>
              <div class="modal-body text-center">
                <%= image_tag gallery_pic.image.url(:original), class:"display_pic img-responsive", style: "margin: 0 auto;"%> <br>
                <% if gallery_pic.caption %>
                  "<%= gallery_pic.caption %>"
                <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        
      <% end -%>
    </div> 
  
    <div id="paginate">
      <%= will_paginate @gallery_pics, inner_window: 0, outer_window: 0, renderer: BootstrapPagination::Rails %>
    </div> 
  </div>
</div>

	<%= render "helper_code/raty" %>
	<%= render "helper_code/tooltip_toggle" %>

<!-- Button trigger modal -->


<!-- Modal -->

  
