<% title @course.title %>


<% page = "course"%>

<div class="col-xs-12 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" style="margin-bottom: 200px;">
  <div class="course_body" style="background-color: #FFFFFF;">
    <% if current_user && current_user.id == @course.user_id %>
      <%= render "manager_controls" %>
    <% end %>
    <%= render "header" %>
    <%= render "about_gallery" %>
    <%= render "more_info" %>
    <%= render "tutors_info" %>
    <%= render "news_reviews" %>
    <%= render "footer" %>
  </div>
  
  <div class="row">
    <div class="container-fluid text-center">
      <%= link_to new_course_report_path(@course), style:"color: #d75452; background-color: #FFF; border-color: #cccbca; text-align: center; margin: 40px 0px 5px 0px ;", class:"text-center btn btn-primary btn-sm" do %>
        <i class="fa fa-flag"></i> report course
      <% end %>
    </div>
  </div>
</div>


  
<!-- Helps display Rating stars -->
	<%= render "helper_code/raty" %>
	<%= render "helper_code/tooltip_toggle" %>
	<%= render "helper_code/single_page_tabs" %>

