<%= simple_form_for([@course, @course_plan]) do |f| %>
  <%= f.error_notification %>

	<div class="form-inputs">
	  <div class="row">
	    <div class="col-md-6">
				<%= f.input :plan_name, label: 'Name <i class="fa fa-question-circle" data-toggle="tooltip" title="Give this plan a name, like Pro, Beginner, Monthly etc "></i>'.html_safe, required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :price, required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :capacity, label:'Max Capacity', required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :refund_policy, :collection => @refund_options, include_blank: false, label: 'Refund policy <i class="fa fa-question-circle" data-toggle="tooltip" title="How many days can attendes apply for a refund prior to the event."></i>'.html_safe-%>
    	</div>
	    <div class="col-md-12">
    		<%= f.input :description, as: :wysihtml5  %>
  	  </div>
  	  <div class="col-md-6">
  	  	<%= f.input :auto_reset, :collection => @reset_options, include_blank: false, label: 'Auto Reset Bookings <i class="fa fa-question-circle" data-toggle="tooltip" title="How often do you want bookings for this plan to reset"></i>'.html_safe-%>
  	  	<%= f.input :display_pic, hint: 'Recommended size: 600px <span style="font-size: .8em;">x</span> 300px'.html_safe, label: 'Display picture',  as: :file%>
    		<%= f.input :trade_by_barter, label: 'People can offer to teach me a skill in exchange for this plan <i class="fa fa-question-circle" data-toggle="tooltip" title="On Skillmeng™, course organizers can offer to teach a course in exchange of another tought by others."></i>'.html_safe, required: true-%>
    	</div>
    	<div class="col-md-3">
    		<% if @course.schedule_style == "Recurring weekdays" %>
  	  		<%= f.input :week_days, label: "What days will it hold?", collection:  ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'], wrapper_html: { class: 'form-group' }, as: :check_boxes, include_hidden: false, input_html: {:multiple => true}%>
    		<% else %>
    			<div class="form-inline" id="datepicker">
    				<div class="row" style="margin-bottom: 10px;">
    					<div class="col-md-12" style="margin-bottom: 10px;">
		            <%= f.label :start_date, 'Start date' %><br> 
		            <div class="input-group date">
		              <%= f.input :start_date, :start_year => 2018, label: false, :as => :string, type:"text", class: "form-control" %>
		              <span class="input-group-addon"><i class="fa fa-th"></i></span>
		            </div>
		         	</div>
			        <div class="col-md-12">
		            <%= f.label :end_date, 'End date' %><br>
		            <div class="input-group date">
		              <%= f.input :end_date, :start_year => 2018, label: false, :as => :string, type:"text", class: "form-control" %>
		              <span class="input-group-addon"><i class="fa fa-th"></i></span>
		            </div>
	            </div>
		        </div>
          </div>
    		<% end %>
    	</div>
	  </div>
	</div>
             

  	<div class="form-actions text-center" style="margin-top: 20px">

      <% session[:setup_wizard] ? @pass_param = "Done" : @pass_param = "Submit"  %>
        <% if session[:setup_wizard] %>
         <%= link_to 'Back', edit_course_contact_path(@course, @contact), class:'btn btn-default ', id:"form_cancel" %>
    		<% end %>
        <%= f.button :submit, name: "type", value: "#{@pass_param}", id:"form_submit" %>
        <% if current_page?(new_course_course_plan_path(@course))%>
      		<%= f.button :submit, name: "type", value: "Submit and add new", class:'btn btn-default', id:"form_cancel", style:"width: 180px;"  %>
        <% end %>
        <% unless session[:setup_wizard] %>
          <%= link_to 'Cancel', @course, class:'btn btn-default add_another', id:"form_cancel", style: "margin-top: 0px;" %>
    		<% end %>
    </div>
<% end %>

<%= render "helper_code/tooltip_toggle" %>
<script type="text/javascript">
  $(document).ready(function(){
    
    $('#datepicker .input-group.date').datepicker({
      format: "yyyy-mm-dd",
      startDate: "13/07/2017",
      maxViewMode: 2,
      clearBtn: true,
      autoclose: true,
      todayHighlight: true
    });
  });
               
</script>