<%= simple_form_for([@course, @course_plan]) do |f| %>
  <%= f.error_notification %>

	<div class="form-inputs">
	  <div class="row">
	    <div class="col-md-6">
				<%= f.input :plan_name, label: 'Name <i class="fa fa-question-circle" data-toggle="tooltip" title="Give this plan a name, like Pro, Beginner, Monthly etc "></i>'.html_safe, required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :price, required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :capacity, label:'Max Capacity', required: true-%>
    	</div>
    	<div class="col-md-6">
    		<%= f.input :refund_policy, :collection => @refund_options, include_blank: false, label: 'Refund policy <i class="fa fa-question-circle" data-toggle="tooltip" title="How many days can attendes apply for a refund prior to the event."></i>'.html_safe,  required: true-%>
    	</div>
	    <div class="col-md-12">
    		<%= f.input :description, required: true, label:'<span style="font-weight: 500;">Tell us more about this plan? </span>'.html_safe,  :input_html => {:rows => 5, :id => "text"}-%>
  	  </div>
  	  <div class="col-md-6">
  	  	<%= f.input :display_pic, hint: 'Recommended size: 600px <span style="font-size: .8em;">x</span> 300px'.html_safe, label: 'Display picture',  as: :file%>
    		<%= f.input :trade_by_barter, label: 'People can offer to teach me a skill in exchange for this class <i class="fa fa-question-circle" data-toggle="tooltip" title="On Skillmeng™, course organizers can offer to teach a course in exchange of another tought by others."></i>'.html_safe, required: true-%>
    	</div>
    	<div class="col-md-3">
  	  	<%= f.input :week_days, label: "Weekdays", collection:  ['Mo', 'Tu', 'We', 'Th', 'Fr', 'Sa', 'Su'], wrapper_html: { class: 'form-group' }, as: :check_boxes, include_hidden: false, input_html: {:multiple => true} %>
    	</div>
	  </div>
	</div>
             

  	<div class="form-actions text-center" style="margin-top: 20px">

      <% session[:setup_wizard] ? @pass_param = "Done" : @pass_param = "Submit"  %>
        <% if session[:setup_wizard] %>
         <%= link_to 'Back', edit_course_contact_path(@course, @contact), class:'btn btn-default ', id:"form_cancel" %>
    		<% end %>
        <%= f.button :submit, name: "type", value: "#{@pass_param}", id:"form_submit" %>
        <% if current_page?(new_course_course_plan_path(@course))%>
      		<%= f.button :submit, name: "type", value: "Submit and add new", class:'btn btn-default', id:"form_cancel", style:"width: 180px;"  %>
        <% end %>
        <% unless session[:setup_wizard] %>
          <%= link_to 'Cancel', @course, class:'btn btn-default add_another', id:"form_cancel" %>
    		<% end %>
    </div>
<% end %>

<%= render "helper_code/tooltip_toggle" %>