<%= simple_form_for([@course, @course_payment]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <h4 id="payment_form_title">Fees <i class="fa fa-question-circle" data-toggle="tooltip" title="These are all the price schemes that would be available for this course"></i></h4>
      <div class="well">
        <div id="course_prices">
          <%= f.simple_fields_for :course_prices do |course_price| %>
            <%= render 'course_price_fields', f: course_price %>
          <% end %>
          <div class="links text-center">
            <%= link_to_add_association f, :course_prices, class:"add_plan" do %>
               <i class="fa fa-plus"></i> Plan
            <% end %>
          </div>
        </div>
        <div class="has-error text-center">
          <%= f.error :base %>
        </div>
      </div>
      
    <h4 id="payment_form_title">Bank info</h4>
    
    <% @prev_payments.count %>
    <%= f.input :bank_name, label: "Bank Name", :collection => @bank_name %> 

    <div class="row">
      <div class="col-md-6">
        <%= f.input :bank_account_name, label: "Account name ", hint: "as shown on account statement"  %>
      </div>
      <div class="col-md-6">
         <%= f.input :bank_account_number, label: "Account number"  %>
      </div>
    </div>
    <%= f.hidden_field :paystack_id %>
    <%= f.hidden_field :paystack_plan %>
    
    <%= f.input :payment_instruction, label: "Payment Instructions (300 char max)",  :input_html => {:rows => 5, :id => "text"}, maxlength: "300" %>
    <h6 class="text-right" id="count_message" style="color: grey"></h6>
    
    <%= f.input :refund_instruction, label: "Refund Instructions (300 char max)",  :input_html => {:rows => 5, :id => "text2"}, maxlength: "300" %>
    <h6 class="text-right" id="count_message2" style="color: grey"></h6>
    <hr>
    <h4 id="payment_form_title">Trade-by-Barter</h4>
    <%= f.input :trade_by_barter, label: "people can offer to teach me a skill in exchange for this class ", maxlength: "300" %>
  
  </div>

	<% session[:setup_wizard] ? @pass_param = "Next step" : @pass_param = "Submit"  %>
  <div class="form-actions text-center">
    <hr>
    <% if session[:setup_wizard] %>
     <%= link_to 'Back', edit_course_contact_path(@course, @contact), class:'btn btn-danger' %>
		<% end%>
    <%= f.button :submit, name: "type", value: "#{@pass_param}" %>
		<% unless session[:setup_wizard] %>
		  <%= link_to 'Back', @course, class:'btn btn-danger' %>
		<% end %>
  </div>
<% end %>

<%= render "helper_code/tooltip_toggle" %>