<div class="col-xs-12 col-sm-4 col-md-4 reviews_content">
  <div class="body_rating " style= "height: 150px; margin-bottom: 20px;">
    <a href="#modal<%= review.id%>" data-toggle="modal" data-target="#modal<%= review.id%>">
      <div class="panel-body text-center">
        <div data-score = <%= review.rating %> class="star-rating text-center" style="color: #e58b5a;"></div>
        <div class="ext-box">
          <div class="int-box">
            <%= truncate review.comment, length: 70 %>
           <br> <strong>- 
              <% if review.anonymous %>
                Anonymous
              <% else %>
                <%= review.user.fname %>
                <%= review.user.lname.first(1) %> 
              <% end %>
             </strong>
          </div>
        </div>
  
      </div>    
      <% if review.comment.length > 70 %>
        <button type="button" class="btn btn-default btn-xs btn-more" style="background-color: #e58b5a; top: 74%;" data-toggle="modal" data-target=".bs-example-modal-lg">
          more
        </button>
      <% end -%>
    </a>
  </div>
</div>

<!-- reviews modal-->
<div class="modal fade" id="modal<%= review.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title text-center" id="myModalLabel">
          <div data-score = <%= review.rating %> class="star-rating" style="color: #e58b5a;"></div>     
        </h4>
      </div>
      <div class="modal-body text-center">
        
        <p style="margin: 20px 0px;">
          <%= review.comment %>
        </p>
        <strong>- 
          <% if review.anonymous %>
            Anonymous
          <% else %>
            <%= review.user.fname %> 
            <%= review.user.lname.first(1) %> 
          <% end %>
        </strong> 
        <% if current_user == review.user %>
          | <%= link_to "edit", edit_course_review_path(@course, review)%>  
        <% end %>
      </div>
    </div>
  </div>
</div>